# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
#CMakeSettings.json
build/
.vs/

# All the stuff that running cmake adds
CMakeCache.txt
CMakeFiles/
CPM_modules/
_deps/
cmake/CPM_*.cmake
cpm-package-lock.cmake
bin/
Makefile
cmake_install.cmake
src/Makefile
src/cmake_install.cmake
/CMakeSettings.json
