[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/imgui-sfml"]
	path = external/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
